fullscreen = 100%

html,body
  height: fullscreen
  width: fullscreen

body
  overflow: hidden

#beginpage,#stoveDecide,#materialDecide
  position: relative
  height: fullscreen
  .wrapper
    height: fullscreen

.intro
  height: 70%
  padding-top: 100px
  text-align: center

.button-wrapper
  height: 30%
  padding-top: 50px
  text-align: center
  #startbutton
    width: 140px
    height: 80px
    font: 24px bold
    line-height: @height;
  :hover
    cursor: pointer
