html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  background-image: url("chocolate.jpg");
}
#beginpage,
#story,
#stoveDecide,
#materialDecide {
  position: relative;
  height: 100%;
}
#beginpage .wrapper {
  height: 100%;
  background: #2f0682;
  opacity: 0.8;
  z-index: 99;
}
#beginpage .wrapper .intro {
  height: 70%;
  padding-top: 100px;
  text-align: center;
}
#beginpage .wrapper .button-wrapper {
  height: 30%;
  padding-top: 50px;
  text-align: center;
}
#beginpage .wrapper .button-wrapper #startbutton {
  width: 140px;
  height: 60px;
  font: 24px bold;
  line-height: 60px;
  background: #53e04c;
  border-radius: 10px;
  border: 1px solid #888;
  box-shadow: 3px 5px 20px #aaa;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -40px;
}
#beginpage .wrapper .button-wrapper #startbutton:hover {
  cursor: pointer;
}
#story .wrapper {
  height: 100%;
  background: #2f0682;
  opacity: 0.8;
}
#story .wrapper .inner-story {
  height: 85%;
}
#story .wrapper .button-wrapper {
  height: 15%;
}
#story .wrapper .button-wrapper #gobutton {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  padding: 0 16px;
  color: #fff;
  font-size: 24px;
  background-color: #007bff;
  position: relative;
  left: 80%;
  display: inline-block;
}
#story .wrapper .button-wrapper #gobutton:after {
  position: absolute;
  right: -34px;
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 25px 35px;
  border-color: transparent transparent transparent #007bff;
}
#story .wrapper .button-wrapper #gobutton:hover {
  cursor: pointer;
}
